version: '3.9'

services:
  web:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: fastapi-web
    ports:
      - "${PORT}:${PORT}"
    depends_on:
      - db
    volumes:
      - ./api:/app
    env_file:
      - ./api/.env

  db:
    image: postgres:13
    container_name: postgres-db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - ./api/.env
    healthcheck: # docker inspect postgres-db
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

volumes:
    postgres_data: